{% macro main(item, stream_url, lock_timeout, lock_message, edit_session) %}
<input type="hidden" name="edit_session" value="{{ edit_session }}"/>
<div style="display: none" class="init-block item-lock" data-block-name="item-lock"
     data-update-lock-url="{{ url_for('update_lock', item_id='GLOBAL_ID', edit_session='EDIT_SESSION') }}"
     data-force-lock-url="{{ url_for('force_lock', item_id='GLOBAL_ID') }}"
     data-release-lock-url="{{ url_for('release_lock', item_id='GLOBAL_ID', edit_session='EDIT_SESSION') }}"
     data-list-url="{{ stream_url }}"
     data-timeout="{{ lock_timeout }}"
     {%- if not item.id %} data-no-start="true" {% endif -%}

     data-global-id="{{ item_global_id }}"
     data-edit-session="{{ edit_session }}"
     data-item-title="{{ quote_js(item.__unicode__()) }}"
     data-lock-message="{{ lock_message }}">
</div>
{% endmacro %}
