{% macro hint(field) %}
  {%- if field.hint and not field.widget.renders_hint %}
    <p class="hint">{{ field.hint }}</p>
  {%- endif -%}
{% endmacro -%}

{% macro label(field) %}
  {%- if field.label %}
    <label for="{{ field.id }}">{{ field.label }}</label>
  {%- endif -%}
{% endmacro -%}

{% for field in form.fields %}
<div class="form-row
            {%- if field.error %} with-error{% endif %}
            {%- if field.render_type == 'full-width' %} full-width{% endif %}
            {%- if field.classname %} {{ field.classname }}{% endif %}"
     {%- if field.render_type == 'hidden' %} style="display: none"{% endif %}>
    {% if field.error %}
      <div class="error">{{ field.error }}</div>
    {% endif %}

    {%- if field.render_type == 'checkbox' %}
      {{- field.render()|safe }}
      {{- label(field) }}
      {{- hint(field) -}}
    {%- elif field.render_type == 'hidden' %}
      {{- field.render()|safe }}
    {%- elif field.render_type == 'full-width' %}
      {{- label(field) }}
      {{- field.render()|safe }}
      {{- hint(field) -}}
    {% else %}
      {%- if field.label -%}
        <div class="form-label">
          {{- label(field) -}}
        </div>
      {%- endif -%}
      {{ field.render()|safe }}
      {{- hint(field) -}}
    {% endif -%}
</div>
{%- endfor %}
