{% for field in form.fields %}
<div class="form-row
            {%- if field.error %} with-error{% endif %}
            {%- if field.render_type == 'full-width' %} full-width{% endif %}
            {%- if field.classname %} {{ field.classname }}{% endif %}"
     {%- if field.render_type == 'hidden' %} style="display: none"{% endif %}>
    {% if field.error %}
      <div class="error">{{ field.error }}</div>
    {% endif %}

    {% if field.render_type == 'checkbox' %}
        {{ field.render()|safe }}
        {% if field.label %}
        <label for="{{ field.id }}">{{ field.label }}</label>
        {% endif %}
    {% elif field.render_type == 'hidden' %}
        {{ field.render()|safe }}
    {% elif field.render_type == 'full-width' %}
        {% if field.label %}
        <p class="th"><label for="{{ field.id }}">{{ field.label }}</label></p>
        {% endif %}
        {{ field.render()|safe }}
    {% else %}
      {% if field.label %}
        <div class="form-label" for="{{ field.id }}"><label>{{ field.label }}</label></div>
      {% endif %}
      {{ field.render()|safe }}
    {% endif %}
</div>
{% endfor %}
