<a data-wysihtml5-command="createLink" class="btn">Вставить ссылку</a>
<div class="wysihtml5-dialog-place">
  <div class="wysihtml5-dialog" data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Ссылка:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
    </label>
    <div style="white-space: nowrap">
      <a data-wysihtml5-dialog-action="save">Применить</a>
      <a data-wysihtml5-command="unlink">Удалить ссылку</a>
    </div>
    <a data-wysihtml5-dialog-action="cancel">Закрыть</a>
  </div>
</div>
