.progress_box{
    width: 300px;
    height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #ddd;
}
.progress_percent{
    height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #77d;
}
.filedropwidget{
    padding: 10px;
}
.filedropwidget.active.hover{
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*min-height: 60px;*/
    background-color: #dfd;
    /*background-color: #afa;*/
}
.filedropwidget .file_data p{
    margin: 1px;
    padding: 0;
    font-family: Monospace;
}
