.form .form-row {
    vertical-align:middle;
    text-align:left;
    padding: 5px 0 5px 200px;
    border-bottom: 1px solid #eee;

    }
    .form .form-row:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
    .form .form-row.full-width {
        padding-left: 5px;
        }
.form .form-row label {
    padding: 0 10px;
    }
.form .form-row .form-label{
  position: relative;
  }
  .form .form-row .form-label:before{
    content: "";
    height: 16px;
    float: left;
    diaplay: block;
    }
  .form .form-row .form-label label{
    position: absolute;
    display: inline-block;
    top: 0;
    left: -200px;
    width: 180px;
    height: 100%;
  }

.form .form-row>td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  }

.form .form-row>th {
  font-weight: normal;
  font-size: 80%;
  padding-right: 10px;
  border-bottom: 1px solid #eee;
  }
  .form .form-row>th{
    vertical-align: top;
    padding-top: 14px;
    }
  .form .form-row.last>th, .form .form-row.last>td {
    border-bottom: none;
    }
.popup .item-form h1{
  margin-top: 0;
  }

textarea.bigtext{
    font-size: 15px;
    min-height: 350px; min-width:800px;
}

.autosave-errors{
  background-color: #fff4e8;
  }

.autosave-status{
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 25px;
  }
  .autosave-status>*{
    display: none;
    color: #bbb;
    text-align: right;
    }
  .autosave-status[data-status="no-changes"] .autosave-status__no-changes,
  .autosave-status[data-status="changed"] .autosave-status__changed,
  .autosave-status[data-status="saving"] .autosave-status__saving,
  .autosave-status[data-status="lock"] .autosave-status__lock,
  .autosave-status[data-status="error"] .autosave-status__error,
  .autosave-status[data-status="draft"] .autosave-status__draft,
  .autosave-status[data-status="saved"] .autosave-status__saved,
  .autosave-status[data-autosave-off="true"] .autosave-status__off{
    display: inline;
    padding-left: 20px;
    }
  .autosave-status__draft,
  .autosave-status__error{
    color: #d44;
    }
  .autosave-status__saved{
    color: #5b4;
    }


