<table class="fieldlist init-block" id="{{ field.id }}"
       data-input-name="{{ field.input_name }}"
       data-block-name="fieldlist"
       data-template="{{ field.get_field_template()|forceescape }}"
       {%- if readonly %} data-readonly="readonly"{% endif %}
       {%- if field.order %} data-order="true"{% endif %}
       {%- if field.max_length %} data-max-length="{{ field.max_length }}"{% endif -%}
       >
    <tbody>
    {% for index in field.form.raw_data.getall(field.indeces_input_name) %}
        <tr class="fieldlist-item">
            <td class="fieldlist-cell">
                <input type="hidden" name="{{ field.indeces_input_name }}" value="{{ index }}" />
                {% set f = field.field(name=index) %}
                {% if f.error %}
                <div>
                  <span class="error">{{ f.error }}</span>
                </div>
                {% endif %}
                {{ f.render() }}
            </td>
            {% if field.order %}
            <td class="fieldlist-order fieldlist-btns"></td>
            {% endif %}
            <td class="fieldlist-delete fieldlist-btns"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
