<div class="init-block w-popup-stream-select
            {%- if widget.classname %} {{ widget.classname }}{% endif %}"
     id="{{ widget.id }}"
     {%- block block_name %} data-block-name="popup-stream-select"{% endblock %}
     {%- if widget.multiple %} data-multiple="multiple"{%- endif -%}
     {%- if widget.unshift %} data-unshift="true"{%- endif -%}
     {%- if readonly %} data-readonly="true"{% endif %}
     data-config="{{ widget.js_config() }}">
  {% for v in options %}
    <input type="hidden" id="{{ widget.id }}-input{% if widget.multiple %}-{{ loop.index }}{% endif %}" name="{{ widget.input_name }}" value="{{ v.id }}" />
  {% endfor %}
  <div>
    <table class="w-popup-stream-select-items">
      <tbody id="{{ widget.id }}-div">
        {% for v in options %}
          {{ widget.item_row(v, loop.cycle('odd', 'even')) }}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {%- if not readonly -%}
  <div class="w-buttons">
    {% if widget.allow_select %}
    <a class="button hide" id="{{ widget.id }}-btn" href="#select">
      {{ widget.open_btn_text }}
    </a>
    {% endif %}
    {% if widget.allow_create %}
      <a class="button hide" id="{{ widget.id }}-create" href="{{ widget.create_url }}" target="{{ widget.id }}_create_window">
        {{ widget.create_btn_text }}
      </a>
    {% endif %}
  </div>
  {%- endif %}
</div>
