{% macro render_subfield(field, loop) %}
{%- set changed = field.form.changed_fields is defined and 
                  field.input_name in field.form.changed_fields %}
{%- set widget = field.widget -%}
<div class="form-row
            {%- if changed %} changed-after-publication{% endif %}
            {%- if field.error %} with-error{% endif %}
            {%- if field.classname %} {{ field.classname }}{% endif %}"
     {%- if widget.render_type == 'hidden' %} style="display: none"{% endif %}>
    {%- if field.error -%}
      <div class="error">{{ field.error }}</div>
    {%- endif %}

    {%- if widget.render_type == 'checkbox' %}
      {{- widget.render()|safe -}}
      {%- if field.label -%}
        <label for="{{ field.id }}">{{ field.label }}</label>
      {%- endif -%}
      {{ help(field) }}
    {%- elif widget.render_type == 'hidden' %}
      {{ widget.render()|safe }}
    {%- elif widget.render_type == 'full-width' %}
      <div class="full-width">
        {{ help(field) }}
        {% if field.label %}
        <p class="th"><label for="{{ field.id }}">{{ field.label }}</label></p>
        {% endif %}
        {{ widget.render()|safe }}
      </div>
    {%- else %}
      {%- if field.label %}
        <div class="form-label" for="{{ field.id }}"><label>{{ field.label }}</label></div>
        {{ help(field) }}
      {%- endif %}
      {{- widget.render()|safe }}
    {%- endif %}
</div>
{%- endmacro -%}

{% macro help(field) %}
  {%- if field.help_message %}
    <div class="help-message hide">{{ field.help_message }}</div>
  {%- endif -%}
{% endmacro -%}

<div class="init-block fieldset tabbed_fieldset"
       id="{{ field.input_name }}-container"
       data-block-name="tabbed-fieldset"
       data-config="{{ field.json_config }}">
  {% if field.common_fields %}
    {% for subfield in field.common_fields %}
      {{ render_subfield(field.get_field(subfield), loop) }}
    {% endfor %}
  {% endif %}
  {% if field.tabbed_fields %}
    <div class="switchers">
      {% for tab in field.tabbed_fields %}
        <span>{{ tab.tab }}</span>
      {% endfor %}
    </div>
    <div class="tabbed_content fieldset">
      {% for subfield in field.tabbed_fields_list %}
        {{ render_subfield(field.get_field(subfield), loop) }}
      {% endfor %}
    </div>
    {{ help(field) }}
  {% endif %}
</div>
