{% macro render_subwidget(widget, loop) %}
<div class="form-row
            {%- if widget.error %} with-error{% endif %}
            {%- if widget.classname %} {{ widget.classname }}{% endif %}"
     {%- if widget.render_type == 'hidden' %} style="display: none"{% endif %}>
    {%- if widget.error -%}
      <div class="error">{{ widget.error }}</div>
    {%- endif %}

    {%- if widget.render_type == 'checkbox' %}
      {{- widget.render()|safe -}}
      {%- if widget.label -%}
        <label for="{{ widget.id }}">{{ widget.label }}</label>
      {%- endif -%}
    {%- elif widget.render_type == 'hidden' %}
      {{ widget.render()|safe }}
    {%- elif widget.render_type == 'full-width' %}
      <div class="full-width">
        {% if widget.label %}
        <p class="th"><label for="{{ widget.id }}">{{ widget.label }}</label></p>
        {% endif %}
        {{ widget.render()|safe }}
      </div>
    {%- else %}
      {%- if widget.label %}
        <div class="form-label" for="{{ widget.id }}"><label>{{ widget.label }}</label></div>
      {%- endif %}
      {{- widget.render()|safe }}
    {%- endif %}
</div>
{%- endmacro -%}

<div class="init-block fieldset tabbed_fieldset"
       id="{{ widget.input_name }}-container"
       data-block-name="tabbed-fieldset"
       data-config="{{ field.json_config }}">

  {% if field.common_fields %}
    {% for subfield in field.common_fields %}
      {{ render_subwidget(field.get_field(subfield).widget, loop) }}
    {% endfor %}
  {% endif %}

  {% if field.tabbed_fields %}
    <div class="switchers">
      {% for tab in field.tabbed_fields %}
        <span>{{ tab.tab }}</span>
      {% endfor %}
    </div>

    <div class="tabbed_content fieldset">
      {% for subfield in field.tabbed_fields_list %}
        {{ render_subwidget(field.get_field(subfield.widget), loop) }}
      {% endfor %}
    </div>
  {% endif %}
</div>
