<table class="fieldset fieldset-line">
    <tr class="error-row">
        {% for subwidget in field.widgets %}
            {% if subwidget.error %}
                <td class="invalid">
                    <span class="error">{{ subwidget.error }}</span>
                </td>
            {% else %}
                <td class="empty">&nbsp;</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="subfields">
        {% for subwidget in field.widgets %}
            <td{% if subwidget.error %} class="invalid"{% endif %}>
                {% if subwidget.label %}
                    <label for="{{ subwidget.id }}">{{ subwidget.label }}</label>
                {% endif %}
                {{ subwidget.render() }}
            </td>
        {% endfor %}
    </tr>
</table>
