{% extends "item.html" %}
{% from "macros/version_switch.html" import version_switch %}

{% block after_title %}
{% if item.id and stream.langs is defined %}
<div class="flags">
  {% for version, version_name in stream.versions %}
    {% for lang, lang_name in stream.langs %}
      {% set lang_item = item._item_version(version, lang) %}
      {%- set absent = not lang_item or (lang_item.state is defined and lang_item.state in (item.ABSENT, item.DELETED)) %}
      {%- set private = not absent and lang_item.state is defined and lang_item.state == item.PRIVATE %}
      {%- set public = not absent and lang_item.state is defined and lang_item.state == item.PUBLIC %}
      <a class="stream-flag
                {%- if lang == env.lang and version == env.version %} selected{% endif %}
                {%- if absent %} absent{% endif %}
                {%- if private %} private{% endif %}
                {%- if public %} public{% endif %}"
         {% if not absent or version == 'admin' -%}
         href="{{ stream.url_for(env, 'item', version=version, lang=lang, item=item.id) }}"
         {%- endif %}>
        <span class="lang-{{ lang }}"></span>
      </a>
    {% endfor %}

    {% if not loop.last %}
      <span>»</span>
    {% endif %}
  {% endfor %}
</div>
{% elif item.id and (item.state is not defined or item.state in [item.PUBLIC, item.PRIVATE]) %}
    {# TODO Should handle the unpublished state properly. #}
    {% set published_version_is_unpublished = form.item.state is defined and form.item.state != form.item.PUBLIC %}
    {{ version_switch(url_for(stream.module_name+'.item', version='front', item=item.id),
                      url_for(stream.module_name+'.item', version='admin', item=item.id),
                      version == 'front', published_version_is_unpublished) }}
{% endif %}

{% endblock %}
