{% extends "item.html" %}
{% from "macros/version_switch.html" import version_switch %}

{% block after_title %}
{% if item.id and (item.state is not defined or item.state in [item.PUBLIC, item.UNPUBLISHED]) %}
    {# TODO Should handle the unpublished state properly. #}
    {% set published_version_is_unpublished = form.item.state is defined and form.item.state != form.item.PUBLIC %}
    {{ version_switch(url_for(stream.module_name+'.published_version', item=item.id), url_for(stream.module_name+'.item', item=item.id), front_version, published_version_is_unpublished) }}
{% endif %}
{% endblock %}
