
{% macro buttons() %}
  <div class="buttons">
    <a href="#" class="button icon-apply" style="margin-left: 15px" rel="save"
       data-item-lock="true"
       data-item-form="true">
      Сохранить
    </a>
  </div>
{% endmacro %}


{% block content %}
<div class="init-block" data-block-name="title" data-title="{{ title }}"></div>
<div class="init-block" data-block-name="menu" data-menu="{{ menu }}"></div>
<div id="loader-overlay" class="loader-overlay overlay">
  <div>
    Идет загрузка
  </div>
</div>

  <form id="item-form" action="" method="post" enctype="multipart/form-data" class="init-block item-form" data-block-name="item-form">

    <div class="content">
       <div class="header">
         <h1>{{ title }}
           {% block after_title %}{% endblock -%}
         </h1>
         {% block buttons_top %}{{ buttons() }}{% endblock %}
       </div>
       <div class="text">
         <div class="line"></div>
         <div class="form">
             {{ form.render() }}
         </div>
       </div>

       {% block preview %}{% endblock %}
    </div>
  </form>
{% endblock %}
