{% if not no_layout %}
  {% extends base_template if base_template is defined else "stream_base.html" %}
{% endif %}

{% macro paginate(paginator) %}
  {% if paginator %}
    <div class="pages">
      {% for p, u in paginator.pages %}
        {% if p==paginator.page  %}
          <div class="active">{{ p }}</div>
        {% elif p==None %}
          <div>&hellip;</div>
        {% else %}
          <a href="{{ u }}"><div>{{ p }}</div></a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% set pager = paginate(paginator) %}

{% block stream_items %}
  {{ pager }}
  {% block items %}
    {% if stream.list_edit_action %}
    <form method="POST"
          action="{{ stream.url_for(env, stream.list_edit_action.action) }}" 
          id="{{ list_item_form.id }}"
          class="init-block" data-block-name="stream-sortable" data-selector=".item">
    {% endif %}
    <table class="items">
      <thead class="init-block" data-block-name="sort-fields">
        <tr>
          {%- for field in list_fields.values() -%}
            <th style="width: {{ field.width }};" class="field_{{ field.name }}"
                {%- if not field.title %} class="no-title"{% endif %}>
              {{- field.title -}}
            </th>
          {%- endfor -%}
          {% if list_item_form is defined %}
          <th>
            <button type="button" class="button icon-apply submit-list-edit">
              Сохранить
            </button>
          </th>
          {%- endif -%}
        </tr>
      </thead>
      {%- if list_item_form is defined -%}
        <tfoot>
          <tr>
          <td colspan="{{ list_fields|length }}"></td>
          <td>
            <button type="button" class="button icon-apply submit-list-edit">
              Сохранить
            </button>
          </td>
          </tr>
        </tfoot>
      {%- endif -%}

      <tbody>
        {% block item_rows %}
        {% for item in paginator.items %}
        {{ item_row(item, list_fields=list_fields, url=item_url(item),
                    row_cls=loop.cycle('odd', 'even'),
                    row_index=loop.index, list_item_form=list_item_form) }}
        {% endfor %}
        {% endblock %}
      </tbody>
    </table>
    {% if stream.list_edit_action %}
    </form>
    {% endif %}
  {% endblock %}
  {{ pager }}
{% endblock %}
