<div class="init-block" data-block-name="title" data-title="{{ title }}"></div>
<div class="init-block" data-block-name="menu" data-menu="{{ menu }}"></div>
<div class="content itemlist">
  {% if not is_popup %}
  <div class="header">
    <h1 class="stream_title nowrap">
      {{- title }}
    </h1>
    {% block after_title %}{% endblock %}
    <div class="stream_buttons">
      {% if allow_add %}
      <a href="{{ item_url() }}" class="button js-button-add icon-add">
        Создать
      </a>
      {% endif %}
      {%- for action in stream.actions %}
        {%- if action.display and not action.for_item and action.action %}
          <a href="{{ stream.url_for(env, action.action) }}" 
            {%- if action.js_block %} data-block-name="{{ action.js_block }}" {% endif %}
             class="button{%- if action.cls %} icon-{{ action.cls }}{% endif %}
                          {%- if action.js_block %} init-block{% endif %}
                          {% if action.classname %} {{ action.classname }}{% endif %}">
            {{- action.title -}}
          </a>
        {%- endif %}
      {%- endfor %}
    </div>
  </div>
  {% endif %}

  <div class="filtr">
    <div class="list_tabs">
      <!-- TabSelect buttons will be injected here-->
    </div>

    <div class="fieldset_tabs">
     <!-- ButtonSelect buttons will be injected here -->
    </div>
  </div>

  <div>
    <div class="stream">
      {%- if live_search -%}
      <label class="livesearch">
        {% set search_input_id = filter_form.id + '-livesearch' -%}
        Поиск: <input type="text" class="init-block stream_search" id="{{ search_input_id }}" data-block-name="live-search"/>
      </label>
      {%- endif %}
      <div class="line"></div>
      {% if filter_form %}
      <div class="sidefilter">
        <form id="{{ filter_form.id }}" action="{{ stream.url_for(env) }}" class="filter-form init-block" data-block-name="filter-form">
          <fieldset>
            <legend>Фильтры</legend>
            {{ filter_form.render() }}
            <button type="clear" class="button sidefilter__clear">
              Сбросить
            </button>
            <button type="submit" class="button sidefilter__submit">
              Применить
            </button>
          </fieldset>
        </form>
      </div>

      {% endif %}
      <div class="stream-items{% if filter_form %} with-sidefilter{% endif %}">
        {% block stream_items %}{% endblock %}
      </div>
      <div class="line"></div>
    </table>
  </div>
</div>

