{% from "macros/filter_form.html" import sidefilter, paginate %}

{% set pager = paginate(paginator) %}

{% macro stream_content() %}
  {{ pager }}
  <table class="items">
    <thead>
      <th></th>
      <th></th>
      <th>Тип</th>
      {% if not item is defined %}
        <th>Объект</th>
      {% endif %}
      <th>Автор</th>
      <th>Дата</th>
    </thead>
    <tbody>
    {% if not paginator.items %}
      <td colspan="5">История пуста</td>
    {% endif %}
    {%- for entry in paginator.items %}
      {% if entry and entry.item %}
          {% set obj=entry.obj %}
          {% set lang_kw = {'lang': entry.lang } if entry.lang else {} %}
          {%- set url = entry.stream.url_for(env, 'edit_log.entry', item=obj.object_id, log_id=obj.id, **lang_kw) -%}
          <tr class="item {{ loop.cycle('odd', 'even') }} edit-log-{{obj.type}}">
            <td class="field_id"><a href="{{ url }}">{{ obj.id }}</a></td>
            <td>
              {% if entry.lang %}<span class="lang-{{ entry.lang }}"></span>{% endif -%}
            </td>
            <td><a href="{{ url }}">{{ entry.type }}</a></td>
            {% if not item is defined %}
              <td><a href="{{ url }}">{{ entry.item_title }}</a></td>
            {% endif %}
            <td><a href="{{ url }}">
              {%- for user in obj.users %}
                {{- user.name or user.login }}
              {% endfor -%}
            </a></td>
            <td><a href="{{ url }}">
                {{ obj.update_time.strftime("%d.%m.%Y %H:%M") }}
            </a></td>
          </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {{ pager }}
{% endmacro %}

{% if no_layout %}
    {{ stream_content() }}
{% else %}
  <div class="init-block" data-block-name="title" data-title="{{ title }}"></div>
  <div class="init-block" data-block-name="menu" data-menu="{{ menu }}"></div>
  <div class="content itemlist">
    <div class="header">
      <h1 class="stream_title nowrap">{{ title }}</h1>
      {% if item is defined %}
        <a style="font-size: 10px;" href="{{ stream.url_for(env, 'item', item=item.id) }}">{{ item }}</a>
      {% endif %}
    </div>
    <div>
      <div class="stream">
        <div class="line"></div>
        {{ sidefilter(filter_form, current_url) }}

        <div class="stream-items with-sidefilter">
          {{ stream_content() }}
        </div>
      </div>
    <div>
  </div>
{% endif %}
